{
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"modules": true
		}
	},
	"rules": {
		"accessor-pairs": "error",
		"no-var": "error",
		"no-extra-semi": "error",
		"no-void": "error",
		"prefer-const": "error",
		"no-with": "error",
		"getter-return": "error",
		"no-cond-assign": "error",
		"no-empty": "error",
		"no-func-assign": "error",
		"no-obj-calls": "error",
		"no-unsafe-finally": "error",
		"array-callback-return": "error",
		"block-scoped-var": "error",
		"dot-location": [
			"error",
			"property"
		],
		"default-case": "error",
		"guard-for-in": "error",
		"no-else-return": [
			"error",
			{
				"allowElseIf": true
			}
		],
		"no-inner-declarations": "error",
		"no-invalid-this": "error",
		"no-octal": "error",
		"no-redeclare": "error",
		"radix": "error",
		"vars-on-top": "error",
		"no-script-url": "error",
		"no-proto": "error",
		"no-iterator": "error",
		"no-eval": "error",
		"no-eq-null": "error",
		"complexity": [
			"error",
			{
				"max": 30
			}
		],
		"max-depth": [
			"error",
			3
		],
		"no-debugger": "error",
		"no-fallthrough": "error",
		"line-comment-position": [
			"error",
			{
				"position": "above"
			}
		]
	}
}