$static:'/promo/bns/history/2018/';
$folder:'180607_warrior';

$minWidth:320px;
$imgWidth:100%;

$fontFamily:'Malgun Gothic', '맑은고딕', Dotum, '돋움', Hevetica, AppleGothic, sans-serif;
$baseFontSize:14px;
$indentValue:-999em;

$fontColor:#5c79a2;
$linkColor:#6096e3;
$bodyColor:#102137;