/* mobile */
html, body {width:100%; overscroll-behavior:none;}
.remote_menu {width:256px; height:100%; position:fixed; right:-256px; top:0; display:none; background:url("../img/remote_bg_m.gif") no-repeat center top; background-size:contain; z-index:9100005;
    .remote_overflow {height:100%; overflow-y:auto;}
    &:before {content:""; display:block; width:100%; position:absolute; top:122px; left:0; bottom:0; background-color:rgba(20, 20, 20, 1);}
    .remote_arrow {width:40px; height:72px; position:absolute; left:-40px; background:url("../img/remote_arrow.png") no-repeat 0 0; background-size:cover; z-index:1;
        &.on {left:-12px; background-position:-40px 0;}
    }
    h1 {margin:40px 0 0 40px; text-align:left; letter-spacing:-3px; font-size:25px; position:relative;
        a {color:#ddb382; font-weight:normal; text-decoration:none;}
    }
    .menu_list {margin:0 0 28px 40px; position:relative;
        &:before {content:""; display:block; overflow:hidden;}
        li {width:100%; text-align:left; position:relative;
            a {width:100%; height:27px; line-height:27px; display:block; color:#6f6b5f; font-size:14px; letter-spacing:-1px; text-decoration:none; transition:0.4s ease;}
            &.active {
                >a {color:#ddb382;}
            }
        }
        >li {margin-top:15px;
            &:first-child {margin-top:20px;}
            >a {height:37px; line-height:37px; font-size:16px; font-weight:bold;}
        }
    }
    .remote_etc {padding:0 0 28px 40px; position:relative; overflow:hidden;
        &:before {content:""; display:block; margin-left:-88px; width:176px; height:1px; position:absolute; left:50%; top:0; background-color:rgba(255, 255, 255, 0.1);}
        span {display:inline-block;
            a {text-decoration:none;}
        }
        .remote_link {margin-top:23px; width:100%; height:15px; display:block; text-align:left; color:#6f6b5f; font-size:12px; position:relative;
            &:before {content:""; display:inline-block; margin:-1px 8px 0 0; width:16px; height:16px; vertical-align:middle; background:url("../img/remote_etc_bg.png") no-repeat 0 0; background-size:cover;}
            &.remote_home {
                &:before {background-position:-16px 0;}
            }
            &.remote_nshop {
                &:before {background-position:-32px 0;}
            }
            &.remote_coupon {
                &:before {background-position:-48px 0;}
            }
            &.remote_update {
                &:before {background-position:-64px 0;}
            }
            &:first-child {margin-top:27px;}
        }
    }
}

/* web */
@media screen and (min-width:769px) {
	.remote_menu {width:178px; height:auto; position:absolute; right:-180px; background:url("../img/remote_bg.png") no-repeat center top; border:1px solid rgba(0, 0, 0, 0.9); border-radius:5px; z-index:9999;
        &.fix {position:fixed;}
        .remote_overflow {height:auto; overflow-y:hidden;}
        &:before {top:50px; background-color:rgba(20, 20, 20, 0.9);}
        .remote_arrow {top:10px;}
        h1 {margin:30px 0 0 0; text-align:center; letter-spacing:-3px; font-size:20px;}
        .menu_list {margin-left:0;
            li {text-align:center;
                &:hover {
                    >a {color:#ddb382;}
                }
            }
        }
        .remote_etc {padding-left:0; text-align:center;
            &:before {margin-left:0; width:100%; height:2px; left:0; background:url("../img/remote_line.png") no-repeat center top;}
            .remote_link {text-align:left;}
        }
	}
}

#mobileMask {width:100%; height:100%; position:fixed; left:0; top:0; opacity:0.8; background:#000; cursor:pointer; z-index:9100005;}