.share{
	$block:&;
	position:relative;
	font-size:0;
	display:inline-block;
	
	&__button{
		position:absolute;
		margin:0;
		padding:0;
		border:0;
		cursor:pointer;
		background:transparent;
		outline:0;
		line-height:10em;
		overflow:hidden;
		width:40px;
		height:40px;
		
		&--facebook{
			top:28px;
			left:34px;
		}
		
		&--twitter{
			top:28px;
			left:104px;
		}
		
		&--googleplus{
			top:28px;
			left:174px;
		}
		
		&--kakaotalk{
			display:none;
		}
		
		&--line{
			display:none;
		}
		
		&--url{
			top:28px;
			left:244px;
		}
	}
	
	&__toggle{
		position:relative;
		margin:0;
		padding:0;
		border:0;
		cursor:pointer;
		outline:0;
		background-size:cover;
		width:32px;
		height:32px;
		background:none;
		
		&-icon{
			position:relative;
			fill:#878787;
		}
		
		&:hover{
			#{$block}__toggle-icon{
				fill:#c2c2c2;
			}
		}
		
		&--active{
			#{$block}__toggle-icon{
				fill:#c2c2c2;
			}
			
			&:before{
				content:'';
				display:block;
				width:10px;
				position:absolute;
				top:-15px;
				left:50%;
				transform:translateX(-50%);
				height:15px;
				background:url("../img/share_p_list_arrow.png");
				background-size:cover;
			}
		}
		
		&--active + .share__list{
			display:block;
		}
	}
	
	&__list{
		display:none;
		position:absolute;
		width:320px;
		height:100px;
		bottom:40px;
		background:url("../img/share_p_list.png");
		background-size:cover;
	}
	
	&--mobile{
		#{$block}__button{
			width:30px;
			height:30px;
			
			&--facebook{
				top:24px;
				left:19px;
			}
			
			&--twitter{
				top:24px;
				left:64px;
			}
			
			&--googleplus{
				top:24px;
				left:109px;
			}
			
			&--kakaotalk{
				display:block;
				top:24px;
				left:154px;
			}
			
			&--line{
				display:block;
				top:24px;
				left:199px;
			}
			
			&--url{
				top:24px;
				left:244px;
			}
		}
		
		#{$block}__toggle{
			width:27px;
			height:27px;
			
			&:hover{
				#{$block}__toggle-icon{
					fill:#878787;
				}
			}
			
			&--active{
				#{$block}__toggle-icon{
					fill:#c2c2c2 !important;
				}
			}
		}
		
		#{$block}__list{
			width:295px;
			height:80px;
			bottom:38px;
			background:url("../img/share_m_list.png");
			background-size:cover;
		}
	}
}