.message{
	$root:&;

	&--notice{
		color:#808080;
	}

	&__text-area{
		min-width:320px;
		height:90px;
		vertical-align:middle;
		text-align:center;
		display:table-cell;
	}

	&__button{
		height:40px;
		width:125px;
		line-height:40px;
		text-align:center;
		outline:0;
		border-radius:5px;
		margin:10px 5px;
		font-size:14px;
		background:#000;
		border:1px solid #404040;
		color:#404040;

		&:hover{
			background:#404040;
			border:1px solid #404040;
			color:#000;
		}

	}

	&--landscape-alert{
		display:none;
		color:#fff;
		position:fixed;
		z-index:9100006;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background:#000;

		#{$root}__contents{
			&:before{
				content:'';
				width:102px;
				display:block;
				height:90px;
				background:url('../img/message_landscape_icon.jpg') no-repeat;
				background-size:cover;
				margin:0 auto 35px auto;
			}
		}

		@media only screen and (min-aspect-ratio:13/9){
			display:block;
		}
	}

	&__contents{
		position:absolute;
		top:50%;
		left:50%;
		transform:translateY(-50%) translateX(-50%);
		text-align:center;
		font-size:14px;
		line-height:20px;
		min-width:320px;
	}
}